streamlit>=1.13.0
folium>=0.13,<0.15
pandas
plotly
pydeck
datetime
matplotlib
numpy
google-cloud-bigquery
google-auth
shapely
reportlab
fpdf2
imgkit
kaleido
keplergl
streamlit-keplergl
streamlit-folium
db-dtypes
